apiVersion: v1
kind: Secret
metadata:
  name: openbao-config
  namespace: openbao
type: Opaque
stringData:
  extraconfig.hcl: |
    storage "postgresql" {
      connection_url = "postgresql://$(PGUSER):$(PGPASSWORD)@$(PGHOST):$(PGPORT)/$(OPENBAO_DB)?sslmode=disable"
      ha_enabled = "true"
    }

    listener "tcp" {
      address     = "0.0.0.0:8200"
      tls_disable = 1
    }

    api_addr = "http://$(POD_IP):8200"
    cluster_addr = "https://$(POD_IP):8201"

    ui = true

    service_registration "kubernetes" {}
